<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${visitor}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:style="'background-color:#b5e3de'" >
<p th:text="'Curriculum Vitae'" th:style="'text-align:center;font-weight: bold'" />
<img th:src="'https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/23621628_1935759139784052_3917308986525649143_n.jpg?oh=23bdfb17f9eaf5fb571bfe6b8af5f334&oe=5B01EF4B'" th:style="'height:200px;width:200px;border-radius: 50%;margin: 0px auto;display:block;' "/>
<table>
    <tr>
        <td><p>Name</p></td>
        <td><p th:text="': '+${name}" /></td>
    </tr>
    <tr>
        <td><p>Birthplace & Birthdate</p></td>
        <td><p th:text="': '+${birthInfo}" /></td>
    </tr>
    <tr>
        <td><p>Address</p></td>
        <td><p th:text="': '+${address}" /></td>
    </tr>
    <tr>
        <td><p>Education History</p></td>
        <td><p>: </p></td>
    </tr>
</table>
<table th:style="'border: 1px solid black;'" >
    <tr th:style="'border: 1px solid black;'" >
        <th th:style="'border: 1px solid black;'" >No.</th>
        <th th:style="'border: 1px solid black;'" >Educational level</th>
        <th th:style="'border: 1px solid black;'" >Institution</th>
        <th th:style="'border: 1px solid black;'" >Year</th>
    </tr>
    <tr th:style="'border: 1px solid black;'" >
        <td th:style="'border: 1px solid black;'" >1</td>
        <td th:style="'border: 1px solid black;'" >Elementary School</td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${sd}" /></td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${sdYear}" /></td>
    </tr>
    <tr th:style="'border: 1px solid black;'" >
        <td th:style="'border: 1px solid black;'" >2</td>
        <td th:style="'border: 1px solid black;'" >Junior High School</td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${smp}" /></td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${smpYear}" /></td>
    </tr>
    <tr th:style="'border: 1px solid black;'" >
        <td th:style="'border: 1px solid black;'" >3</td>
        <td th:style="'border: 1px solid black;'" >Senior High School</td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${sma}" /></td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${smaYear}" /></td>
    </tr>
    <tr th:style="'border: 1px solid black;'" >
        <td th:style="'border: 1px solid black;'" >4</td>
        <td th:style="'border: 1px solid black;'" >College</td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${univ}" /></td>
        <td th:style="'border: 1px solid black;'" ><p th:text="${univYear}" /></td>
    </tr>

</table>
<hr/>
<p th:text="'About Me'" th:style="'font-weight: bold'" />
<p>      Hello, my name is Muhammad Ilham Peruzzi. I'm 19 years old. I am now study at Faculty of Computer Science, University of Indonesia, since 2016.
    I like to read books and listening the music. I also like a chocolate and fried chiken.
 I have one sister, she's name is Amelia Putri. She is in Junior High School now. I'm an introvert person.</p>
</body>
</html>
